[Desktop Entry]
Name=VS Code
Comment=Visual Studio Code
Exec=/usr/bin/code --no-sandbox
Icon=vscode
Terminal=false
Type=Application
Categories=Development;IDE;
